.btn {
    margin-right: 5px;
    margin-top: 5px;
}

a.anchor{
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
   
}

ul {
 list-style: none;
}

img {
  margin-top: 15px;
}

#Message{
  height: 150px;
  resize: none;
}

#footer{
  height: 100px;
}

 